@import url(reset.css);
/* line 7, ../../app/stylesheets/application.sass */
body {
  font-size: 62.5%;
  font-weight: 100;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 12, ../../app/stylesheets/application.sass */
a {
  text-decoration: none;
}

/* line 15, ../../app/stylesheets/application.sass */
#header {
  text-align: center;
  margin-top: 18px;
}
/* line 19, ../../app/stylesheets/application.sass */
#header .city {
  margin: 0 auto 20px;
  line-height: 1.5em;
  width: 180px;
  font-style: italic;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 18px;
  color: #777777;
  border-bottom: solid 1px #cccccc;
}

/* line 33, ../../app/stylesheets/application.sass */
#footer {
  text-align: center;
}
/* line 35, ../../app/stylesheets/application.sass */
#footer p {
  font-size: 10px;
  line-height: 18px;
}
