@import url(reset.css);
/* line 7, ../../app/stylesheets/application.sass */
body {
  font-size: 62.5%;
  font-weight: 100;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 12, ../../app/stylesheets/application.sass */
a {
  text-decoration: none;
}

/* line 15, ../../app/stylesheets/application.sass */
#header {
  text-align: center;
  margin-top: 18px;
}
/* line 19, ../../app/stylesheets/application.sass */
#header .city {
  margin: 0 auto 20px;
  line-height: 1.5em;
  width: 180px;
  font-style: italic;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 18px;
  color: #777777;
  border-bottom: solid 1px #cccccc;
}

/* line 33, ../../app/stylesheets/application.sass */
#footer {
  text-align: center;
}
/* line 35, ../../app/stylesheets/application.sass */
#footer p {
  font-size: 10px;
  line-height: 18px;
}

/* line 39, ../../app/stylesheets/application.sass */
input[type=submit] {
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 15px 6px;
  font-size: 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #747474;
  background-color: #58a83e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62ba45), color-stop(100%, #58a83e));
  background-image: -webkit-linear-gradient(top, #62ba45, #58a83e);
  background-image: -moz-linear-gradient(top, #62ba45, #58a83e);
  background-image: -o-linear-gradient(top, #62ba45, #58a83e);
  background-image: -ms-linear-gradient(top, #62ba45, #58a83e);
  background-image: linear-gradient(top, #62ba45, #58a83e);
  text-shadow: 0 -1px 0 #2b2b2b;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  -o-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  color: #f8f8ee;
}
/* line 51, ../../app/stylesheets/application.sass */
input[type=submit]:active {
  background-color: #448330;
  text-shadow: 0 -1px 0 #1d3815;
  border: solid 1px #72c158;
}
