/* line 6, ../../app/stylesheets/home.sass */
#new_issue {
  margin: 10px auto;
  width: 438px;
  padding: 10px;
  border: 1px solid #cccccc;
  background-color: #d9d9d9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}
/* line 15, ../../app/stylesheets/home.sass */
#new_issue input[type=submit] {
  float: right;
}
/* line 18, ../../app/stylesheets/home.sass */
#new_issue textarea {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
  display: block;
  margin: 0 auto;
  width: 406px;
  border-color: #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #362f2d;
}
/* line 28, ../../app/stylesheets/home.sass */
#new_issue textarea.default-text {
  color: #aaaaaa;
}

/* line 32, ../../app/stylesheets/home.sass */
#issues {
  width: 460px;
  margin: 0 auto;
}
/* line 36, ../../app/stylesheets/home.sass */
#issues .nav {
  border-top: 10px solid #777777;
  list-style: none;
  margin: 36px 0 18px;
  padding: 0;
  overflow: hidden;
}
/* line 43, ../../app/stylesheets/home.sass */
#issues .nav li {
  list-style: none;
  float: left;
  margin: 10px 15px 5px 0;
  padding: 0;
  padding-bottom: 5px;
}
/* line 49, ../../app/stylesheets/home.sass */
#issues .nav li a {
  color: #777777;
  font-size: 13px;
}
/* line 54, ../../app/stylesheets/home.sass */
#issues .nav li.active {
  border-bottom: 5px solid #58a83e;
}
/* line 56, ../../app/stylesheets/home.sass */
#issues .nav li.active a {
  font-weight: bold;
  color: #58a83e;
}
/* line 60, ../../app/stylesheets/home.sass */
#issues .list {
  padding-bottom: 36px;
  border-bottom: 10px solid #777777;
  clear: left;
}
/* line 65, ../../app/stylesheets/home.sass */
#issues .issue {
  position: relative;
  margin: 50px 0;
}
/* line 68, ../../app/stylesheets/home.sass */
#issues .issue .created {
  border-bottom: solid 1px #d9d9d9;
  text-align: right;
  font-size: 10px;
  line-height: 15px;
  color: #777777;
}
/* line 74, ../../app/stylesheets/home.sass */
#issues .issue .title {
  padding-top: 3px;
  font-size: 18px;
  line-height: 1.5em;
  color: #362f2d;
}
/* line 79, ../../app/stylesheets/home.sass */
#issues .issue .description {
  margin: 10px;
}
/* line 81, ../../app/stylesheets/home.sass */
#issues .issue .tagged {
  border-bottom: 1px solid #fff67d;
  background: #fffde3;
  color: black;
  display: inline-block;
  padding: 3px 5px;
}
/* line 87, ../../app/stylesheets/home.sass */
#issues .issue .vote {
  position: absolute;
  width: 60px;
  left: -80px;
  top: 15px;
}
/* line 92, ../../app/stylesheets/home.sass */
#issues .issue .vote .count {
  background: #362f2d;
  font-size: 15px;
  line-height: 15px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #f8f8ee;
}
/* line 101, ../../app/stylesheets/home.sass */
#issues .issue .vote .agree {
  background: #58a83e;
  padding: 5px;
  text-align: center;
}
/* line 105, ../../app/stylesheets/home.sass */
#issues .issue .vote .agree a {
  color: white;
  font-weight: bold;
  font-size: 12px;
}
/* line 111, ../../app/stylesheets/home.sass */
#issues .issue .vote .agree.agreed {
  background-color: #362f2d;
}
