@import "reset.css";
body{font-size:62.5%;font-weight:100;}
.generic{float:left;}
.clear{clear:both;}
.end{margin-left:0!important;margin-right:0!important;}
.oneforty{width:140px;margin-right:20px;}
.twotwenty{width:220px;margin-right:20px;}
.threehun{width:300px;margin-right:20px;}
.threeeighty{width:380px;margin-right:20px;}
.foursixty{width:460px;margin-right:20px;}
.fiveforty{width:540px;margin-right:20px;}
.sixtwenty{width:620px;margin-right:20px;}
.sevenhun{width:700px;margin-right:20px;}
.seveneighty{width:780px;margin-right:20px;}
.eightsixty{width:860px;margin-right:20px;}
.nineforty{width:940px;}
body{font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;}
#mainContainer{width:460px;margin-right:20px;margin:0 auto;}
#header{margin-top:18px;}
#logo{text-indent:-9999px;height:171px;background:url('logo.png') top left no-repeat;}
