@import "reset.css"
@import mixins/colors
@import mixins/fonts
@import compass/css3


body
  font-size: 62.5%
  font-weight: 100
  font-family: $font-sans

a
  text-decoration: none

#header
  text-align: center
  margin-top: 18px

  .city
    margin: 0 auto 20px

    line-height: 1.5em
    width: 180px

    font:
      style: italic
      family: $font-serif
      size: 18px

    color: #777
    border-bottom: solid 1px #CCC

#footer
  text-align: center
  p
    font-size: 10px
    line-height: 18px

input[type=submit]
  margin-top: 10px
  cursor: pointer
  padding: 5px 15px 6px
  font-size: 14px
  +border-radius(5px)
  border: 1px solid #747474
  background-color: $leaf-green
  +linear-gradient(color-stops(lighten($leaf-green, 5%), $leaf-green))
  text-shadow: 0 -1px 0 #2b2b2b
  +box-shadow(0 1px 0 #ffffff)
  color: $off-white
  &:active
    background-color: darken($leaf-green, 10%)
    text-shadow: 0 -1px 0 #1d3815
    border: solid 1px #72c158
