@import "reset.css"
@import mixins/colors
@import mixins/fonts
@import compass/css3


body
  font-size: 62.5%
  font-weight: 100
  font-family: $font-sans

a
  text-decoration: none

#header
  text-align: center
  margin-top: 18px

  .city
    margin: 0 auto 20px

    line-height: 1.5em
    width: 180px

    font:
      style: italic
      family: $font-serif
      size: 18px

    color: #777
    border-bottom: solid 1px #CCC

#footer
  text-align: center
  p
    font-size: 10px
    line-height: 18px
