@import compass/css3

@import mixins/colors
@import mixins/metrics

#new_issue
  margin: 10px auto
  width: 438px
  padding: 10px
  border: 1px solid #CCCCCC
  background-color: #D9D9D9
  +border-radius(5px)
  overflow: auto
  input[type=submit]
    margin-top: 10px
    cursor: pointer
    padding: 5px 15px 6px
    font-size: 14px
    +border-radius(5px)
    border: 1px solid #747474
    background-color: $leaf-green
    +linear-gradient(color-stops(lighten($leaf-green, 5%), $leaf-green))
    text-shadow: 0 -1px 0 #2b2b2b
    +box-shadow(0 1px 0 #ffffff)
    color: $off-white
    float: right
    &:active
      background-color: darken($leaf-green, 10%)
      text-shadow: 0 -1px 0 #1d3815
      border: solid 1px #72c158

  textarea
    padding: 15px
    display: block
    margin: 0 auto
    width: 418px - 12px
    border-color: #CCC
    +border-radius(5px)

#issues
  width: 460px
  margin: 0 auto

  .nav
    list-style: none
    margin: 0
    padding: 0
    li
      list-style: none
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif
      float: left
      color: #777777
      font-size: 13px
      margin: 10px 15px 5px 0
      padding: 0

      padding-bottom: 5px
      &.active
        font-weight: bold
        color: $leaf-green
        border-bottom: 5px solid $leaf-green

  border:
    top: 10px solid #777777
    bottom: 10px solid #777777

  .list
    clear: left

  .issue
    position: relative
    .created
      border-bottom: solid 1px black
      text-align: right
    .title
      padding-top: 3px
      font-size: 18px
      line-height: 1.5em
      color: #362F2D
    .description
      margin: 10px
    .vote
      position: absolute
      width: 60px
      left: -80px
      .count
        background: #eee
        padding: 5px
        text-align: center
      .agree
        background: green
        padding: 5px
        text-align: center

