@import compass/css3
@import mixins/colors
@import mixins/fonts
@import mixins/metrics

#new_issue
  margin: 10px auto
  width: 438px
  padding: 10px
  border: 1px solid #CCCCCC
  background-color: #D9D9D9
  +border-radius(5px)
  overflow: auto

  input[type=submit]
    float: right

  textarea
    font-family: $font-serif
    font-size: 14px
    line-height: 20px
    padding: 15px
    display: block
    margin: 0 auto
    width: 418px - 12px
    border-color: #CCC
    +border-radius(5px)
    &.default-text
      color: #aaa
    color: $color-dark

#issues
  width: 460px
  margin: 0 auto

  .nav
    border:
      top: 10px solid #777777
    list-style: none
    margin: 36px 0 18px
    padding: 0
    overflow: hidden
    li
      list-style: none
      float: left
      color: #777777
      font-size: 13px
      margin: 10px 15px 5px 0
      padding: 0

      padding-bottom: 5px
      &.active
        font-weight: bold
        color: $leaf-green
        border-bottom: 5px solid $leaf-green

  .list
    padding-bottom: 36px
    border-bottom: 10px solid #777777
    clear: left

  .issue
    position: relative
    margin: 50px 0
    .created
      border-bottom: solid 1px #D9D9D9
      text-align: right
      font-size: 10px
      line-height: 15px
      color: #777
    .title
      padding-top: 3px
      font-size: 18px
      line-height: 1.5em
      color: #362F2D
    .description
      margin: 10px
    .taged
      border: solid 1px #ccc
      background: yellow
      color: black
      display: inline-block
      padding: 3px 5px
    .vote
      position: absolute
      width: 60px
      left: -80px
      top: 15px
      .count
        background: $color-dark
        font-size: 15px
        line-height: 15px
        padding: 5px
        text-align: center
        font-weight: bold
        font-size: 20px
        color: $off-white
      .agree
        background: green
        padding: 5px
        text-align: center
        a
          color: white
          font:
            weight: bold
            size: 12px

        &.agreed
          background-color: $color-dark


